{% extends 'base.html' %}
{% block content %}

<h1>Date List</h1>

{% for date in events %}
    <a href="{% url 'date_details' date %}">
        <div class="card">
            <div class="card-content">
                {% if date < date.today %}
                    <span style="color: red" class="card-title">{{ date }}</span>
                {% else %}
                    <span class="card-title">{{ date }}</span>
                {% endif %}
            </div>
        </div>
    </a>
{% endfor %}

{% endblock %}