{% extends 'base.html' %}
{% block content %}

<h1>Date List</h1>

{% for date in events %}
    {% if date == date.today %}
        <a href="{% url 'date_details' date %}">
            <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title">{{ date }}</span>
                </div>
            </div>
        </a>
    {% elif date > date.today %}
        <a href="{% url 'date_details' date %}">
            <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title">{{ date }}</span>
                </div>
            </div>
        </a>
    {% endif %}
{% endfor %}

{% endblock %}