{% extends 'base.html' %}
{% block content %}

  {% if object %}
    <h1>Edit <span style="color: #51D0DE;">{{object.event_name}}</span></h1>
  {% else %}
    <h1>Add Event</h1>
  {% endif %}
  
  <form action="" method="post" autocomplete="off">
    
    {% csrf_token %}
    <div id="form"class="card">
      <table>
        {{ form.as_table }}
      </table>
    </div>
    <input type="submit" value="Submit" class="btn">
  </form>

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    autoClose: true
  });
</script>

{% endblock %}