{% extends 'base.html' %}
{% block content %}

<h1 class="center-align">Home</h1>
<!-- Section: Icon Boxes -->

    <div class="container">
        <div class="row">
            <div>
                <div class="card-panel col s4 center">
                    <i class="material-icons large">watch_later</i>
                    <h4>Manage Your Time Efficiently</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, odio!</p>
                </div>

                <div class="card-panel col s4 center">
                    <i class="large material-icons  center">computer</i>
                    <h4>Make an Account to Get Started!</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, odio!</p>
                </div>

                <div class="card-panel col s4 center">
                    <i class="material-icons large">arrow_upward</i>
                    <h4>Click the icons above to navigate</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, odio!</p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}