html {
    background-image: url('https://i.imgur.com/BZos6OW.jpg');
    background-color: rgba(255, 255, 255, 0.918);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-weight: 100;
    font-family: 'Source Sans Pro', sans-serif;
}

.nav-wrapper {
    background-color: #a3f6ff00;
}

.nav-wrapper a {
    color: rgb(87, 84, 84);
}

.nav-wrapper a:hover {
    background-color: #51d0de3b;
}

#timely {
    margin-top: 10px;
    width: 120px;
}

h1 {
    color: rgb(87, 84, 84);
    /* color: #ff8ae8; */
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    /* text-shadow: 2px 2px 2px darkgrey; */
}

.card {
    background-color: rgb(255, 255, 255);
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

input[type=submit] {
    background-color: #db90e2;
}

input[type=submit]:hover {
    background-color: #ab6bad;
}

.card-action a {
    color: white;
}

.hoverable:hover {
    box-shadow: 0px 0px 15px 0px#51D0DE;
}

.datepicker-date-display{
    background-color: #db90e2;
}

.card-title {
    color: rgb(87, 84, 84);
    font-size: 25px !important;
}

label {
    color: rgb(87, 84, 84);
    font-size: large;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

p {
    font-size: 20px;
    color: rgb(87, 84, 84);
}

#search {
    padding-left: 2rem;
}

#title {
    margin-left: -15px;
}

#form {
    padding: 0px 20px 0px 20px;
}

#formButton{
    color: #db90e2;
    /* background-color: #db90e2; */
    
}
 #formButton:hover{
    color: #ab6bad
 }