html {
    background-image: url('https://images.unsplash.com/photo-1470790376778-a9fbc86d70e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: 'Rubik', sans-serif;
}

.nav-wrapper {
    background-color: #51D0DE;
}

h1 {
    color: #BF4AA8;
}

.nav-wrapper a {
    color: #BF4AA8;
}

.card {
    background-color: #ecebeb;
}

input[type=submit] {
    background-color: #BF4AA8;
}

input[type=submit]:hover {
    background-color: #51D0DE;
}

.datepicker-date-display{
    background-color: #BF4AA8;
}

.searchForm {
    margin-left: 200px;
}


