html {
    background-image: url('https://i.imgur.com/esBMbS0.jpg');
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
    background-size: 350px;
    /* background-repeat: no-repeat;
    background-size: cover; */
}

body {
    font-family: 'Rubik', sans-serif;
}

.nav-wrapper {
    background-color: #A8D0E6;
}

h1 {
    color: #374785;
}

.nav-wrapper a {
    color: #F76C6C;
}

.card {
    background-color: #ecebeb;
}

input[type=submit] {
    background-color: #BF4AA8;
}

input[type=submit]:hover {
    background-color: #51D0DE;
}

.datepicker-date-display{
    background-color: #BF4AA8;
}

.searchForm {
    margin-left: 200px;
}

.card-title {
    color: #374785;
}

