html {
    background-image: url('https://i.imgur.com/BZos6OW.jpg');
    background-color: rgba(231, 231, 231, 0.658);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: 'Roboto', sans-serif;
}

.nav-wrapper {
    background-color: #a3f6ff00;
}

h1 {
    color: #ff8ae8;
    font-weight: 900;
}

.nav-wrapper a {
    color: #ff8ae8;
    ;
}

.card {
    background-color: #ecebeb;
}

input[type=submit] {
    background-color: #ff8ae8;
    ;
}

input[type=submit]:hover {
    background-color: #b6f8ff;
}

.datepicker-date-display{
    background-color: #BF4AA8;
}

.searchForm {
    margin-left: 200px;
}